/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    /* small screens */
@media (min-width:768px) {

    .container {
        width: 750px;
    }
}
    /* Meduim Screens */
@media (min-width:992px) {

    .container {
        width: 970px;
    }
}
    /* Large Screens */
@media (min-width:1200px) {

    .container {
        width: 1170px;
    }
}
/* End Global rules */
/* Start components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    letter-spacing: -3px;
}
.special-heading + p {
    font-size: 20px;
    color: #797979;
    text-align: center;
    margin: -30px 0px 0px;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* End components */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo {
    width: 60px;
}
.header .container .links {
    position: relative;
}
.header .container .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .container .links .icon { 
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/* ELzero Used The Above hover Effect but I perfer The Following one Cus The Hover is For the Icon itselfs */
/* .header .container .links .icon:hover span:nth-child(2){
    width: 100%;
} */
.header .container .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .container .links .icon span:first-child {
    width: 100%;
}
.header .container .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .container .links .icon span:last-child {
    width: 100%;
}
.header .container .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    background-color: #f6f6f6;
    display: none;
    /* opacity: 0;
    transition: all 1s linear;
    z-index: 5; */
    z-index: 1;
}
.header .container .links:hover ul{
    display: block;
    /* opacity: 1; */
}
.header .container .links ul::before{
    content: '';
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 2px;
    top: -30px;
}
/* .header .links:hover ul {
    display: block;
} */
.header .container .links ul li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: var(--main-duration);
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}

/* End Header */
/* Start Section */
.landing {
    background-image: url(../imges/mountain5.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .bg {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1c1c1cd9;
}
.landing .intro-text {
    /* position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%; */
    width: 320px;
    max-width: 100%;
    margin-top: -300px;
    
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
.landing .fixed {
    position: fixed;
    right: 30px;
    bottom: 25px;
    z-index: 5;
    
}
.landing .fixed img {
    width: 100px;
    border-radius: 50%;
}
/* End Section */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .container .feat {
    padding: 20px;
    text-align: center;
}
.features .container .feat i{
    color: var(--main-color);

}
.features .container .feat h3 {
    font-weight: 800;
    margin: 30px 0px;
}
.features .container .feat p {
    color: #777;
    line-height: 1.8;
    font-size: 16px;
    
}
/* End Features */
/* Start Services */
.Services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.Services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px ;
}
.Services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .Services .services-content .srv {
        flex-direction: column;
        text-align: center;
 }
}
.Services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.Services .services-content .srv .text {
    flex: 1;
}
.Services .services-content .srv h3 {
    margin: 0px 0px 20px;
}
.Services .services-content .srv p {
    color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.Services .services-content .image {
    text-align: center;
    position: relative;
}
.Services .services-content .image::before {
    content: '';
    position: absolute;
    width: 120px;
    height: calc(100% + 100px);
    top: -50px;
    right: -40px;
    background-color: var(--secondary-color);
    z-index: -1;
}
.Services .services-content .image img{
    width: 350px;
    height: 300px;
}
@media (max-width: 1199px) {
    .Services .services-content .image {
        display: none   ;
    }
}
/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px ;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
    max-height: 350px;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
@media (max-width: 767px) {
    .portfolio .portfolio-content .card .info {
        text-align: center;
    }
}
.portfolio .portfolio-content .card .info {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .images {
    position: relative;
    width: 300px;
    height: 250px;
}
@media (max-width: 991px) {
    .about .about-content .images {
    margin: 0 auto 60px;
    }
}
.about .about-content .images::before {
    content: '';
    position: absolute;
    height: calc(100% + 80px);
    width: 100px;
    background-color: #ebeced;
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .images::after {
    content: '';
    position: absolute;
    height: 250px;
    width: 120px;
    border-left: 80px solid var(--main-color);
    border-bottom: 70px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}
@media (max-width: 991px) {
    .about .about-content .images::before,
    .about .about-content .images::after {
        display: none;
    }
}
.about .about-content .images img {
    max-width: 100%;
    height: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
    /* There is more than one way to put the paragraph beside the img */
    /* flex: 1;
    text-align: center;
    margin-left: 100px; */
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}    
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}
/* End About */
/* Start Contact*/
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
   font-size: 35px;
   font-weight: 800;
   color: var(--main-color);
   text-decoration: none;
}
.contact .info .socials {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    font-size: 16px;
}
.contact .info .socials i {
    padding-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px){
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
/* End Contact*/
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */


